<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- Mybatis的核心配置文件-->

<configuration>
    <!--配置日志文件 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    
    <!-- 配置数据源，交给spring管理 -->
    <typeAliases>
        <package name="com.pojo"/>
    </typeAliases>

    <!--  mapper.xml在Mybatis配置文件里面注册  -->
    <mappers>
        <mapper class="com.dao.UsersMapper"/>
    </mappers>
</configuration>